# Graded Assignment 2
Mark Klik & Misja Mikkers

# Packages

# Assignment 1

First load the `tidyverse` package:

In [1]:
library(tidyverse)

-- Attaching packages --------------------------------------- tidyverse 1.2.1 --
v ggplot2 2.2.1     v purrr   0.2.4
v tibble  1.4.1     v dplyr   0.7.4
v tidyr   0.7.2     v stringr 1.2.0
v readr   1.1.1     v forcats 0.2.0
-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

##  Assignment 1a

Read the data file _graded_assignment_2.csv_ from disk:

In [6]:
data1 <- read.csv2("../Output/graded_assignment_2.csv")
head(data1)

  ID Group FKG DKG Gender Elderly Age
1 1  17    0   0   male   65+     80-84
2 2  34    0   0   female 65+     65-69
3 3  31    1   0   female 65-     50-54
4 4  22    1   0   female 65-     5-9
5 5  35    0   0   female 65+     70-74
6 6  19    1   1   male   65+     90-94

## Assignment 1b

Add column "Health_status" with containing values _1_ (Healthy) and _0_ (Unhealthy).
A person is Healthy, when `FKG` equals 0 and `DKG` equals 0.

So

| FKG | DKG | Health_status   |
|-----|-----|--------------   |
| 0   | 0   | 1               |
| 1   | 0   | 0               |
| 0   | 1   | 0               |
| 1   | 1   | 0               |

Hint: you can use `ifelse()`:

In [38]:
data2 <- data1 %>%
  mutate(Health_status = ifelse(FKG==0, DKG==0,"Unhealthy"))

In [39]:
head(data2) #can't figure out how to change the TRUE in a Healthy

  ID Group FKG DKG Gender Elderly Age   Health_status
1 1  17    0   0   male   65+     80-84 TRUE
2 2  34    0   0   female 65+     65-69 TRUE
3 3  31    1   0   female 65-     50-54 Unhealthy
4 4  22    1   0   female 65-     5-9   Unhealthy
5 5  35    0   0   female 65+     70-74 TRUE
6 6  19    1   1   male   65+     90-94 Unhealthy

In the next datacamp course you will learn more about the package `dplyr`. For now we just give you some code. You can run the following script.

First, we want to make "Health_status" a factor instead of a character

In [32]:
data2 <- data2 %>%
  mutate(Health_status = as.numeric(Health_status))
str(data2)

Warning message in evalq(as.numeric(Health_status), <environment>):
"NAs introduced by coercion"

'data.frame':	10000 obs. of  8 variables:
 $ ID           : int  1 2 3 4 5 6 7 8 9 10 ...
 $ Group        : int  17 34 31 22 35 19 1 30 29 8 ...
 $ FKG          : int  0 0 1 1 0 1 0 1 0 1 ...
 $ DKG          : int  0 0 0 0 0 1 1 1 0 1 ...
 $ Gender       : Factor w/ 2 levels "female","male": 2 1 1 1 1 2 2 1 1 2 ...
 $ Elderly      : Factor w/ 2 levels "65-","65+": 2 2 1 1 2 2 1 1 1 1 ...
 $ Age          : Factor w/ 20 levels "0-4","10-14",..: 17 14 11 10 15 19 1 9 8 7 ...
 $ Health_status: num  NA NA NA NA NA NA NA NA NA NA ...

Then, we want to count the number of healthy and unhealthy males and females

In [34]:
data3 <- data2 %>%
  group_by(Gender, Health_status) %>%
 summarise(Count_observations = n()) %>%
  mutate(Health_status=as.factor(Health_status))

data3

  Gender Health_status Count_observations
1 female NA            4981
2 male   NA            5019

## Assignment 2

Recreate with the dataframe "data3" the following barchart ![](../Sourcedata/barchart.png)

* Hint: see for changing the [legends and colors](http://www.cookbook-r.com/Graphs/Legends_(ggplot2)/)
* Hint: the "green" color is in fact the color "greenyellow"
* Hint: see for the [themes](http://ggplot2.tidyverse.org/reference/ggtheme.html):

End notebook